/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .production_writing h3 {
        font-size: 25px;
    }
    .video_slide .owl-dots .owl-dot {
        width: 15%;
    }
    .footer_left {
        margin-bottom: 0;
    }
    .logos_client img {
        margin-left: 15px;
    }   
}
/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
    .header_btn {
        display: none;
    }
    .header_transparent {
        padding: 20px 0;
    }
    
    .header_area .mean-container a.meanmenu-reveal {
        background: #fff;
    }

    .multi_design_img {
        margin-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .production_writing h3 {
        font-size: 30px;
        text-align: center;
    }
    .video_slide .owl-dots .owl-dot {
        width: 15%;
    }
    .service_bg::after {
        top: -15%;
    }
    .cta_text p {
        font-size: 25px;
    }
    .footer_left li h4 {
        font-size: 22px;
    }
    .footer_left li {
        font-size: 15px;
    }
    .footer_left h5 {
        font-size: 20px;  
    }
    .logos_client img {
        margin-left: 0;
    }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .footer_left li h4 {
        font-size: 22px;
    }
    .footer_left li {
        font-size: 15px;
    }
    .footer_left h5 {
        font-size: 20px;  
    }
    .logos_client img {
        margin-left: 0;
    }
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .slider_text h1 {
        font-size: 38px;
    }
    .logo img {
        width: 115px;
    }
    .mobile_menu {
        padding-top: 6px;
    }
    .pb-100 {
        padding-bottom: 70px;
    }
    .pt-125 {
        padding-top: 50px;
    }
    .production_writing h3 {
        font-size: 23px;
        text-align: left;
        margin-bottom: 25px;
    }
    .pb-120 {
        padding-bottom: 19px;
    }
    .pt-180 {
        padding-top: 70px;
    }
    .service_icon {
        position: inherit;
    }
    .service_icon .d-table-cell {
        vertical-align: middle;
        text-align: center;
    }
    .service_icon .d-table-cell {
        text-align: left;
        padding-left: 0;
    }
    .single_testimonial_item p {
        font-size: 12px;
    }
    .cta_text p {
        font-size: 14px;
    }
    .footer_left li h4 {
        margin-bottom: 25px;
    }
    .footer_left li:nth-child(3) {
        margin-top: 30px;
    }
    .footer_left h5 {
        margin-bottom: 80px;
    }
    .map_image img {
        height: auto;
    }
    .pt-120 {
        padding-top: 35px;
    }
    .map_area p {
        font-size: 12px;
        text-align: center;
    }
    .single_service_item {
        padding: 35px 35px;
        padding-left: 35px;
    }
    .footer_left li h4 {
        font-size: 22px;
    }
    .footer_left li {
        font-size: 15px;
    }
    .footer_left h5 {
        font-size: 20px;  
    }
    .logos_client img {
        margin-left: 0;
    }
    .slider_text h1 {
        z-index: 2;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    .footer_left li h4 {
        font-size: 22px;
    }
    .footer_left li {
        font-size: 15px;
    }
    .footer_left h5 {
        font-size: 20px;  
    }
    .logos_client img {
        margin-left: 0;
    }
}