*{
    margin: 0;
    padding: 0;
}
body {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.form {
    width: 50%;
    height: 50px;
    position: relative;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #565555;
    padding-top: 14px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000;
}
.form label::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #5fa8d3;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}
.content_name {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.form input:focus + .label_name .content_name, form input:valid + .label_name .content_name {
    transform: translateY(-150%);
    color: #5fa8d3;
    font-size: 14px;
}
.form input:focus + .label_name::after,
.form input:valid + .label_name::after{
    transition: translateX(0%);
}
.form input:focus + .label_name::after, .form input:valid + .label_name::after {
    transform: translateX(0%);
}
