/* 
Site Name: Team 6 star
Version: 1.0
Author: Md Tanjim Ahmmed
Author URL: https://devtanjim.com
Design by: Md Tanjim Ahmmed
*/
/* ===============
css index

*base css
*header css
*about css
*download css
*footer css
*sticky css

===============*/

/* ~~~~~~~~~~~~~~~~~~~~ base css ~~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

a:focus, input:focus, textarea:focus, button:focus{
    outline: 0 solid;
}

a:hover{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins', sans-serif;
    margin:0 0 15px;
    font-weight:900;
    color: #000000;
    font-style: normal;
    font-weight: 400;
}

p{
    color: #717171;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.pos_relative{
    position: relative;
}

.fix{
    overflow: hidden;
}

html, body, .hero_area {
    height: 100%;
}

.img{
    max-width: 100%;
}

/* ~~~~~~~~~~~~~~~~~ header css ~~~~~~~~~~~~~~~~ */

.logo img {
    max-width: 200px;
    transition: 0.3s;
}

.header_transparent {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
}

.hero_area {
    position: relative;
}

.bg_gradient {
    background: rgb(99,51,241);
    background: -moz-linear-gradient(-45deg,  rgba(99,51,241,1) 1%, rgba(95,24,231,1) 100%);
    background: -webkit-linear-gradient(-45deg,  rgba(99,51,241,1) 1%,rgba(95,24,231,1) 100%);
    background: linear-gradient(135deg,  rgba(99,51,241,1) 1%,rgba(95,24,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6333f1', endColorstr='#5f18e7',GradientType=1 );
}

.hero_area {
    display: table;
    height: 100%;
    width: 100%;
}

.hero_area_main {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 5;
}

.main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_menu ul li {
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.main_menu ul li a {
    color: #fff;
    display: inline-block;
    padding: 40px 10px;
    font-weight: 700;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}

.hero_content h2 {
    color: #fff;
    font-weight: 600;
    font-size: 65px;
}

.hero_content p {
    font-size: 28px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero_right_bg img {
    max-width: 400px;
}

.btn_c {
    background: linear-gradient(135deg, #FF193F 0%, #FF35B4 100%);
    color: #fff;
    padding: 17px 45px;
    display: inline-block;
    font-size: 22px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
}

.btn_c:hover {
    color: #fff;
    box-shadow: 0 0 25px #FF35B4;
}

.hero_area #particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

/* about css */

.section_title h2 {
    color: #000;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-bottom: 20px;
}

.section_title h2::before, .section_title h2::after {
    background: #FF193F;
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 30%;
    height: 2px;
}

.section_title h2::after {
    left: 35%;
    width: 5%;
}

/* download css */

.categories_class {
    padding: 30px;
}

.categories_class h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 25px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
}

.categories_class ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.categories_class ul li {
    display: block;
}

.categories_class ul li a {
    margin-bottom: 20px;
    display: block;
    font-size: 16px;
    color: #333;
    padding: 5px 10px;
    transition: 0.3s;
}

.categories_class ul li:last-child a {
    margin-bottom: 0;
}

.categories_class ul li a:hover {
    background: #5c19ff;
    color: #fff;
    border-radius: 3px;
}

.download_class_area .card-header {
    background: #fff;
    border: 2px solid #e8e8e8;
}

.download_class_area .card {
    border: none;
    margin-bottom: 30px;
}

.download_class_area .card-body {
    border: 2px solid #ddd;
    border-top: none;
    padding: 12px;
}

.classes_inner .player_video i.fa {
    color: #333;
}

.classes_inner .video_title a, .classes_inner .video_download_area a {
    color: #6d6d6d;
    font-weight: 500;
}

/* footer css */

.footer_area {
    background-color: #111133;
}

.content_footer p {
    color: #fff;
    font-size: 25px;
}

.content_footer a {
    color: #f9f8f8;
}

.content_footer a:hover {
    color: #e0dfdf;
}

/* sticky css */

.sticky_bar {
    position: fixed;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    background: #6047EC;
    width: 100%;
    left: 0;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    top: 0;
    margin: auto;
}

.sticky_bar .main_menu ul li a {
    padding: 25px 10px;
}

.main_menu ul li.active a::after, .main_menu ul li a:hover::after {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    bottom: 30%;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

/* body loader */

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

/* custom area */
.team_six_preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff;
}

.team_six_preloader .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    margin-left: -20px;
    margin-top: -20px;
}